{
  "parser": "babel-eslint",
  "plugins": [
    "mocha",
    "react",
    "babel",
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "node/no-unsupported-features/es-syntax": ["error", {
      "ignores": [ "modules" ]
    }]
  },
  "globals": {
    "BigInt": false
  }
}