{
  "plugins": [
    "react",
    "node"
  ],
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:node/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "node/no-unpublished-require": "off",
    "node/no-unsupported-features/es-syntax": "off"
  }
}